@font-face {
    font-family: 'Nunito-Bold';
    src: local('Nunito Bold'), local('Nunito-Bold'),
        url('./fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Black';
    src: local('Nunito Black'), local('Nunito-Black'),
        url('./fonts/Nunito/Nunito-Black.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
        url('./fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-BlackItalic';
    src: local('Nunito Black Italic'), local('Nunito-BlackItalic'),
        url('./fonts/Nunito/Nunito-BlackItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-BoldItalic';
    src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
        url('./fonts/Nunito/Nunito-BoldItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-ExtraBoldItalic';
    src: local('Nunito ExtraBold Italic'), local('Nunito-ExtraBoldItalic'),
        url('./fonts/Nunito/Nunito-ExtraBoldItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-ExtraBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-ExtraLightItalic';
    src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
        url('./fonts/Nunito/Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-ExtraLight';
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
        url('./fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Italic';
    src: local('Nunito Italic'), local('Nunito-Italic'),
        url('./fonts/Nunito/Nunito-Italic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Light';
    src: local('Nunito Light'), local('Nunito-Light'),
        url('./fonts/Nunito/Nunito-Light.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-LightItalic';
    src: local('Nunito Light Italic'), local('Nunito-LightItalic'),
        url('./fonts/Nunito/Nunito-LightItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('./fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
        url('./fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito-SemiBoldItalic';
    src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'),
        url('./fonts/Nunito/Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/Nunito/Nunito-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

